* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #111827;
    color: white;
}

.topbar {
    text-align: center;
    padding: 25px;
    background: #1f2937;
}

.topbar h1 {
    margin: 0;
    font-size: 32px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #1f2937;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
}

h2 {
    color: #facc15;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #374151;
}

th {
    background: #374151;
}

span {
    color: #22c55e;
    font-weight: bold;
}
